{% extends "::layout.html.twig"%}

{% block title %} 
    {{parent()}} - Billetterie 
{% endblock %}

{% block body  %}
   <div class="container">
        <h2 class="text-white m-4">Bienvenue</h2> 
   
        <div class="card text-white bg-dark mb-3">
            <h3 class="card-header text-center">
                Indiquez vos coordonnées
            </h3>
            <div class="card-body">
                <div class="well">
                    {{form(form)}}

                </div>
            </div>
        </div>

        <br>
        
        <div class="card text-white bg-dark mb-3">
            <h3 class="card-header text-center">
                Montant de votre commande
            </h3>
            <div class="card-body">
                <div class="well text-dark">
                    <table class="table table-striped table-light table-bordered">
                        <thead>
                            <tr>
                            <th scope="col">Billets</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Tarif unitaitre</th>
                            <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">Plein Tarif</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <th scope="row">Tarif enfant</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <tr>
                            <th scope="row">Tarif bébé</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <th scope="row">Tarif Senior</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                            <th scope="row">Tarif réduit</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            </tr>
                        </tbody>
                        <tfooter>
                            <tr>
                            <th scope="row"></th>
                            <td></td>
                            <th>Total</th>
                            <td>0</td>
                            </tr>
                        </tfooter>
                    </table>
                
                <div class="mx-auto text-center alert alert-secondary">
                    <input id="checkBox" type="checkbox"><span>En cochant cette case, vous confirmez avoir lu et accepter les <a href="#">conditions générales d'utilisation</a></span>
                </div>
                
                <div class="mx-auto ">
                    <input id="button_submit" class="btn btn-info btn-lg btn-block" type="submit" value="Poursuivre">
                </div>
            </div>
        </div>
    </div> 

{% endblock %}

    
