{% extends "::layout.html.twig"%}

{% block title %} 
    {{parent()}} - Billetterie 
{% endblock %}

{% block body  %}

    <div class="container">
        <h2 class="text-white m-4">Bienvenue</h2> 
        <div id="form_contener"></div>
    
    <div class="card text-white bg-dark mb-3">
        <h3 class="card-header text-center">
            Choissiez la date de votre visite
        </h3>
        <div class="card-body">
            <div class="well">
                {{form(form)}}
            </div>
        </div>
    </div>
    
    </div>

    
{% endblock %}